.event-participants-container {
  background-color: #fff;
  padding: 10px;
  .ant-table-wrapper {
    border: unset;
    margin-top: 12px;
    .ant-table {
      border: 1px solid #ebebeb;
      border-radius: 10px;
    }
  }
  .ant-table-cell-scrollbar:not([rowspan]) {
    box-shadow: unset;
  }
  .ant-table-header {
    .ant-table-column-sorters {
      .ant-table-column-title {
        flex: unset;
      }
      .ant-table-column-sorter {
        flex: 1;
      }
    }
  }
  .ant-table-tbody > tr {
    height: 110px;
  }
  .ant-table-tbody {
    .top1 {
      background-color: #fff9e4;
    }
    .top2 {
      background-color: #f6f6f6;
    }
    .top3 {
      background-color: #fbefe3;
    }
  }
  .ant-table-column-sorter-inner {
    color: #fff;
  }
  .ant-table-pagination-right {
    margin-bottom: 5px;
  }
  td.ant-table-column-sort {
    background-color: transparent;
  }
  .ant-table-tbody > tr:hover > td {
    background-color: transparent;
  }
}
