.banner-section-event {
  width: 30%;
  background-color: white;
  border-radius: 16px;
  padding: 16px 32px 32px 32px;
  .ant-upload-list-item-thumbnail {
    opacity: unset;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
  }

  .ant-btn {
    color: rgba(163, 46, 140, 1) !important;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    overflow: hidden;
  }

  .banner-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    min-height: 100%;
    max-height: 898px;
    overflow-y: auto;
    overflow-x: hidden;

    @media screen and (max-width: $grid-breakpoints-xxl) {
      .banner-wrapper {
        width: 100%;
        height: fit-content;
        .ant-image {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }

    .ant-upload-list-picture-card {
      display: flex;
      flex-direction: column-reverse;
      .ant-upload-list-picture-card-container,
      .ant-upload-select-picture-card {
        width: 100%;
        height: 100%;
      }
      .ant-upload-list-picture-card-container {
        margin-bottom: 16px;
        &:first-child {
          margin-bottom: unset;
        }
      }
      .ant-upload-select-picture-card {
        border: 1px solid #d9d9d9;
        &:hover {
          border-color: #1890ff;
        }
      }
    }
    .button-here {
      border: solid 1px #dbdbdb;
      border-radius: 8px;
      width: 100%;
      margin-right: 15px;
      position: relative;

      .image-banner {
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }

      &:hover {
        .action-banner {
          opacity: 1;
        }
      }

      .action-banner {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: #00000099;
        justify-content: center;
        opacity: 0;
        transition: all 0.3s;

        .icon-action {
          color: #fff;
          font-size: 20px;
          padding: 10px;
          background-color: #ffffff59;
          margin: 0 5px;
          border-radius: 30px;
        }
      }
    }
  }
}
.modal-upload-banner {
  .ant-upload-select-picture-card {
    width: 100%;
  }
  .ant-upload-select-picture-card {
    height: 100%;
    border: 1px solid rgba(163, 46, 140, 1) !important;
  }
  .button-here {
    color: rgb(149 149 149);
  }
  .ant-upload-list-picture-card-container {
    width: 100%;
  }
  .upload-banner-winbig {
    width: 396px;
    height: 189px;
    .ant-upload-list {
      height: 100%;
      .ant-upload-list-picture-card-container {
        height: 100%;
        .ant-upload-list-item-info {
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
}
.image-preview img,
.ant-image-preview-img {
  width: 431px;
  height: 255px;
}
