.add-acc-modal {
  .ant-modal-content {
    border-radius: 8px;
    overflow: hidden;
  }
  .ant-form-item-label {
    text-align: left;
  }
  .ant-btn-primary {
    background: #a32e8c;
    border-color: #a32e8cc4;
    &:hover {
      background: #a32e8cc4;
    }
  }
  .file-upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-upload-list-picture-card-container,
    .ant-upload-select-picture-card {
      width: 90%;
      height: 232px;
      margin: unset;
    }
    .ant-upload-select-picture-card {
      border: 1px solid #d9d9d9;
      &:hover {
        border-color: #1890ff;
      }
    }
    .ant-upload-list.ant-upload-list-picture-card {
      width: 350px;
    }
  }
  #register {
    display: grid;
    max-width: unset !important;
    grid-template-columns: 1fr 1.2fr;
    .ant-form-item:first-child {
      grid-row: 1/6;
      display: flex;
      align-items: center;
    }
  }
  form input {
    border-radius: 8px;
    &:disabled {
      background-color: #f2f2f2;
      color: #000;
    }
  }
  form .ant-input-password,
  form .ant-select-selector {
    border-radius: 8px !important;
    input {
      border-radius: unset;
    }
  }
}
.role-account {
  border-radius: 5px;
  .ant-select-item-option-selected {
    background-color: #daabd1;
  }
}
.ant-modal-root {
  position: absolute;
  z-index: 1002;
}
