.qr-code-item {
  .label {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
  }
  .content {
    flex-direction: column;
    background-image: url("../../../../../public/img/background-qr.svg");
    height: 32rem;
    width: 25.3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .qr {
      margin-top: 2.73rem;
      height: 15.2rem;
      width: 15.2rem;
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;

      .loadding {
        font-size: 5rem;
      }
    }

    .code {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 110px;
    }

    .action-wrap {
      display: flex;
      margin-bottom: 1rem;
      width: 80%;
      justify-content: space-around;

      .icon {
        font-size: 1.3rem;
        color: #a32e8c;
        margin-bottom: 5px;
      }
    }
  }
}
